@{
    ViewData["Title"] = "Home Page";
}

<<div class="jumbotron">
    <h1>Best Music Gear</h1>

    <div class="row">
        <div class="col-md-4"></div>

        <div>
            <h2> POPULAR GAMES!</h2>
            <img src="Assignment_One\Views\Home\game1.png" alt="OBSERVER" />
        </div>
        <div>
            <img src="Assignment_One\Views\Home\game2.png" alt="GMOD" />
        </div>
        <div>
            <img src="Assignment_One\Views\Home\game3.png" alt="OBLIV" />
        </div>
        <div>
            <img src="Assignment_One\Views\Home\game4.png" alt="CITIES" />
        </div>
    </div>
</div>
